
html{font-size: 10px;}

body {
  font: 400 1.6rem/2.2rem Roboto, sans-serif;
  color: @text-dark;
  background-color: #849d8f;
  background-size: 100% auto;
}
    
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  font-size: 0;
}

.form-post {position: relative;}
.site-wrapper {
  min-width: 900px;
  max-width: 100%;
  margin:0 auto;
  min-height: 2420px;
  background-color: #849d8f;
  background-image: url("../img/images/slide-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.25s ease, background-color 0.25s ease;

    &::before,
    &::after {
      content: "";
      visibility: hidden;
    }
    &::before {background-image: url("../img/images/slide-2.png");} 
    &::after {background-image: url("../img/images/slide-3.png");}  
}

/*header-------------------------------------------------*/
.header {
  min-height: 132px;
  padding-top: 23px;

  &-logo {
    .left;
    width: 154px;
    height: 64px;
    margin-top: -14px;
    margin-right: 16px;
    margin-left: -5px;    
  }

  &-nav {
    .left;
    max-width: 800px;
  }
}

.nav-list {
  .left;
  max-width: 600px;

  li {
    .inline-top();
    margin-right: 3px;
    padding-bottom: 7px;
  }

  .drop-out-list{position: relative;}

  .top-link {
    display: block;
    padding: 7px 13px 8px 13px;
    color: @white;
    border-radius: 17px 17px;
    font: 700 1.6rem/1.8rem Roboto,sans-serif;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: @white;
      color: @text-dark;
    }
  }
}
 
.drop-out-list:hover .catalog-list{display: block;}

.catalog-list {
  position: absolute;
  bottom: -140px;
  display: none;
  list-style: none;
  width: 143px;
  background-color: @modal-bg;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  transition: background-color 0.2s ease;
  z-index: 20;

  li {
    display: block;
    margin-right: 0;
    padding-bottom: 0;  
      
      &:last-child {border-radius: 0 0 5px 5px;}
      &:first-child {border-radius: 5px 5px 0 0 ;}
      &:hover {background-color: #fbded8;};
      &:active {
        color:@white;
        background-color: #f6b5a5;
      }

  &.active  {background-color: #d07058;}    
  }

  a {
    width: 100%;
    display: block;
    padding: 6px 20px;
    color: @text-dark;
    font: 400 1.4rem/1.6rem Roboto,sans-serif;
    text-decoration: none;
    border-radius: 0;
  }

  .new {
    position: relative;
    font-weight: 700;

    &:after {
      content:"";
      position: absolute;
      bottom: 0;
      left: 7px;
      width: 128px;
      height: 1px;
      background-color: @text-dark;
      opacity: 0.1;
    }
  }
}



.userblock {
  .right;
  width: 280px;
  font-size: 0;
  min-height: 32px;
  text-align: right;

  &-buttons { 
    font-size: 0;
    text-align:right;
  }

  p {
    color:@white;
    font: 700 1.4rem/1.6rem Roboto, sans-serif;
    margin-top: 12px;
    margin-bottom: 4px;
  } 

  .phone {
    color: @white;
    font: 900 2.2rem/2.4rem Roboto, sans-serif;
    margin-bottom: 17px;
  }
}

.btn-top {
  display: inline-block;
  margin-left: 10px;
  padding-bottom: 5px;
  transition: background-color 0.2s ease-in-out;

  .enter-btn,
  .cart-btn {
    .white-plank;
    position: relative;
    font: 500 1.4rem/3.2rem Roboto, sans-serif;
    padding: 0 16px 0 45px;
  }
}

.search {
  position: relative;

  &-btn {
    .white-plank;
    display: block;
    padding: 5px 8px;
    font-size: 1.7rem;
  }

  &-form {
    .form;
    display: none;
    bottom: -84px;
    right: 0;
    width: 341px;
    height: 84px;
    padding: 20px 15px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

    input[type="text"] {width: 311px;} 
  }      
}    

.search:hover .search-form {display: block;}

.search-btn:hover,
.enter-btn:hover,
.cart-btn:hover {
  color: @text-dark;
  background-color: @white;
} 
  
.fa-sign-in{
    position: absolute;
    left: 15px;
    top:5px;
    font-size: 2.3rem;
}

.fa-shopping-cart:extend(.fa-sign-in) {font-size: 2rem;}


   
/*-------------main----------*/

.promo {
  .left;
  width: 560px;
  min-height: 229px;
  color: @white;
  padding: 16px 20px 22px;
  margin-right: 25px;
  border-radius: 10px;
  margin-bottom: 40px;  
  overflow: hidden;

  &:nth-child(2n) {margin-right: 0;}
  &:nth-child(1) {background: @bg-img url("../img/images/raspaberry-bg.jpg")
              no-repeat center;}
  &:nth-child(2) {background: @bg-img url("../img/images/choco-bg.jpg")
              no-repeat center;}

  h2 {
    font: 700 3.5rem/4.1rem Roboto, sans-serif;
    margin-bottom: 16px;
  }

  p {
    font: 700 1.8rem/2.2rem Roboto, sans-serif;
    margin-bottom: 43px;
  }

  &-btn {
    .right;
    .btn-red-mini;
  }
}

.item {
  .left;
  position: relative;
  width: 265px;
  margin-right: 28px;
  margin-bottom: 25px; 
  text-align: center;
  
  &:nth-child(4n) {margin-right: 0;} 
  
  &:hover::before {
    content: "";
    position: absolute;
    width: 285px;
    height: 410px;
    left:-10px;
    top:-10px;

    border-radius: 4px;
    background-color: rgba(255,255,255, 0.2);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  }

  &:hover &-btn{display: block;}

  &-img {
    position: relative;
    width: 267px;
    height: 267px;
    overflow: hidden;

    img {border-radius: 50%;}
  }

  &-price {
    position: absolute;
    top: 209px;
    left:0;
    color:@white;
    font: 700 4.5rem/4.5rem Roboto,sans-serif;
    cursor: default;

    span {font-size: 3.5rem;}
  }

  &-descr {
    min-height: 70px;
    padding: 10px 5px;
    cursor: default;
  }

  &-btn {
    .btn-red-mini;
    display: block;
    position: absolute;
    left: 25px;
    bottom: -45px;
    display: none;
    outline: none;
    border: none;
    
  }
}

.features {
  padding: 20px 8px 15px 20px;
  margin-bottom: 40px;
  border-radius: 15px;
  background: @bg-img url("../img/images/bg-wafel.jpg");

  h3 {
    letter-spacing: 0.020rem;
    font: 500 2.4rem/3rem Roboto,sans-serif;
    margin-bottom: 12px;
  }
}

.feature-item {
    .inline-top;
    position: relative;
    width: 550px;
    margin-right: 13px;
    padding: 13px 12px 0 56px;

    &::before {
      content:"";
      position: absolute;
      width: 48px;
      height: 49px;
      top: 0;
      left: 0;
      background-image: url("../img/pictures/sprite.png");
      background-repeat: no-repeat;
    }

    &:nth-of-type(2n) {margin-right: 0;}

    p {
      margin-bottom: 10px;
      font: 400 1.6rem/2.2rem Roboto, sans-serif;
    }
    
&:nth-of-type(1)::before {background-position: 0 -59px;}
&:nth-of-type(2)::before {background-position: 0 0;}   
&:nth-of-type(3)::before {background-position: 0 -119px;}
&:nth-of-type(4)::before {background-position: 0 -177px;}    
}  

.news-section {
  margin-bottom: 23px;

  .news-blogs,
  .news-mail{
    .left;
    width: 560px;
    min-height: 220px;
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
  }  

}

.news-blogs {
  margin-right: 26px;
  padding: 21px 20px;
  background: @bg-img url("../img/images/strawberry-bg.jpg")
              no-repeat -52px -103px;

  h4 {
    margin-bottom: 5px;
    font: 500 1.6rem/2.2rem Roboto,sans-serif;
  }

  a {
    color: @text-dark;
    font: 700 2.4rem/3rem Roboto,sans-serif;

    &:hover {text-decoration: none;}
  }
}

.news-mail {
  padding: 5px;
  margin-right: 0;
  margin-bottom: 5px;
  background-image: url("../img/images/post-pattern.jpg");
  background-size: 40px 38px;
             
  &-content {
    background-color: #f8f7f4;
    min-height: 210px;
    padding: 29px 21px;
    border-radius: 9px;
  }

  
  p {
    color: #5a5a5a;
    display: block;
    min-height: 61px;
    font: 400 1.6rem/2.2rem Roboto,sans-serif;
    margin-bottom: 14px;
  }
  
  &-form{
    .form;
    padding-top: 20px;

    input[type="text"] {
      width: 350px;
      height: 44px;
      margin-right: 10px; 
    }
  }
  
  a {
    .inline-top;
    .btn-red-mini;
    margin-top: -2px;
  } 
}

.map-section {
  position: relative;
  min-height: 429px;
  background: @bg-img url("../img/images/map.png") 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;

  .contacts {
    position: absolute;
    top: 63px;
    right: 95px;
    width: 302px;
    min-height: 305px;
    padding: 28px 25px 0 25px;
    background-color: rgba(255, 255, 255, 0.98);
    border-radius: 15px;
    z-index: 50;
  }
}

.contacts {

  p {
    font: 400 1.4rem/2rem Roboto,sans-serif;
    margin-bottom: 20px;
  }

  span {
    font: 700 1.8rem/2.4rem Roboto,sans-serif;
    
  }

  button {
    .btn-red-mini;
    border:none;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

/*footer*/

.main-footer {
  padding: 37px 0;  
  min-height: 103px;
  color: @white;
  font: 400 1.3rem/1.8rem Roboto, sans-serif;

  a {
    color: inherit;
    font: inherit;

    &:hover {color: #ffbc9e;}
  }
}

.socials {
  .inline-bottom;
  width: 400px;
  
  .social-btn {
    .inline-top;
    font-size: 0;
    text-align: center;
    width: 34px;
    height: 34px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: rgba(255,255,255, 0.8);
    -moz-border-color: rgba(255,255,255, 0.5);
    border: 3px solid #b6c5bc;
    
    &:hover {
      background-color: @white;
      border: 3px solid #dbe3de;
    }
    &:active {
      box-shadow: inset 0 2px 1px #888;
      border: 3px solid #d9e1dd;
    }

    .fa {
      font-size: 1.6rem;
      line-height: 2.8rem;
      color: #849d8f;
    }
  }
}

.licensies {
  .inline-bottom;
  width: 520px;

  p {
    .inline-top;
    position: relative;
    padding-left: 22px;
    padding-right: 10px;

    strong {font-weight: 700;}

    a {display: block;}
  }

  .fa-heart {
    position: absolute;
    top: 2px;
    left: 0;
  }
}

.copyright {
  .right;
  margin-top: -19px;
}

/*slider-----------------------------------------------------------*/




.slider {
  position: relative;
  padding-top: 258px;
  text-align: center;
  color: @white;
  margin-bottom: 38px;
  
  .slide {display: none;}
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font: 900 6rem/6.2rem Roboto, sans-serif;
}
.slide-btn {.btn-red;} 



.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0;

  label {
    .inline-top();
    width: 19px;
    height: 19px;
    margin-right: 8px;
    background-color: transparent;
    border: 2px solid @white;
    border-radius: 50%;
    cursor: pointer;
  }
}


input[type="radio"] {display: none;}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {display: block;}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {background-color: #fff;}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/images/slide-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/images/slide-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/images/slide-3.png");
}

