
html{font-size: 10px;}

body {
  font: 400 1.6rem/2.2rem Roboto, sans-serif;
  color: #000;
  background-color: #849d8f;
  background-size: 100% auto;
}
    
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/*header-------------------------------------------------*/

.page-header {min-height: 132px;}
 
.header-top {
  position: relative;
  padding: 23px 0;
  padding-left: 166px;

  .index-logo {
    position: absolute;
    width: 154px;
    height: 64px;
    top: 10px;
    left: -4px;
  }

  .userblock {
      .right();
      min-height: 320px;
      font-size: 0; 
  }
}

.header-top-nav {
    .inline-top();
    max-width: 530px; 
  
    ul {
      font-size: 0;
      list-style: none;
    }

    li {
      .inline-top();
      margin-right: 3px;
    }

    a {
      position: relative;
      display: block;
      padding: 7px 13px 8px 13px;
      color: @white;
      border-radius: 17px 17px;
      font: 700 16px/18px Roboto,sans-serif;
      text-decoration: none;

      &:hover {
        background-color: @white;
        color: @text-dark;
      }
  }
}

.userblock {

  .btn-top {
    position: relative;
    .inline-top();
    color: #fff;
    margin-left: 10px;
    padding: 0 16px 0 45px;
    background-color: @white-light;
    border-radius: 17px 17px ;
    text-align: center;
    text-decoration: none;
    font: 500 1.4rem/3.2rem Roboto,sans-serif;  
  }   
  
  .search-btn {
    padding:0 8px;
    font-size: 1.7rem;  
  }   
}

.btn-top {

  &:hover{
    color: @text-light;
    background-color: @white;

    & i {color: #333;}
  }

  .fa-sign-in {font-size: 2.2rem;}
  .fa-shopping-cart {font-size: 2rem;}

  .fa-sign-in,
  .fa-shopping-cart {
    position: absolute;
    left: 18px;
    top:4px;
  }   
}



  


    
    


/*slider-----------------------------------------------------------*/


.site-wrapper {
  min-width: 1200px;
  min-height: 1000vh;
  background-color: #849d8f;
  background-image: url("../img/images/slide-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.25s ease, background-color 0.25s ease;

    &::before,
    &::after {
      content: "";
      visibility: hidden;
    }
    &::before {background-image: url("../img/images/slide-2.png");} 
    &::after {background-image: url("../img/images/slide-3.png");}  
}

.slider {
  position: relative;
  padding-top: 258px;
  text-align: center;
  color: #fff;
  
  .slide {display: none;}
}

.slide {

  .slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 6rem;
    line-height: 6.2rem;
  }
  .slide-btn {
    .inline-top();
    .btn-red();
    padding: 10px 50px 14px;
    font: 600 3.1rem/4.1rem Roboto, sans-serif;
  } 
}



.slider-controls {
    position: absolute;
    bottom: 25px;
    left: 0;
    z-index: 20;
    font-size: 0;

    label {
      display: inline-block;
      width: 17px;
      height: 17px;
      margin-right: 8px;
      vertical-align: top;
      background-color: transparent;
      border: 2px solid #fff;
      border-radius: 50%;
      cursor: pointer;
    }
}


input[type="radio"] {display: none;}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {display: block;}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {background-color: #fff;}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/images/slide-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/images/slide-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/images/slide-3.png");
}
